<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vom's Bookstore</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vom's Bookstore</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li class="active"><a href="#">Add Book</a></li>
          <li><a href="/browse">Browse</a></li>
        </ul>
        <form class="navbar-form navbar-right" action="/">
          <button type="submit" class="btn btn-default">Log out</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 active bg-primary">
          <form method="POST">
            <div class="form-group">
              <label for="bookName">Book Title</label>
              <input name="bookName" type="name" class="form-control" id="bookName" placeholder="Enter book name">
            </div>
            <div class="form-group">
              <label for="bookIsbn">ISBN</label>
              <input name="bookIsbn" type="name" class="form-control" id="bookIsbn" placeholder="Enter ISBN">
            </div>
            <div class="form-group">
              <label for="bookDate">Published Date</label>
              <input name="bookDate" type="name" class="form-control" id="bookDate" placeholder="Enter publised date">
            </div>
            <div class="form-group">
              <label for="bookPublisher">Publisher</label>
              <input name="bookPublisher" type="name" class="form-control" id="bookPublisher" placeholder="Enter publisher">
            </div>
            <div class="form-group">
              <label for="bookReview">Review</label>
              <input name="bookReview" type="name" class="form-control" id="bookReview" placeholder="Write book review">
            </div>
            <button type="submit" class="btn btn-success">Add Book</button>
          </form>

        </div>
    </div>
  </body>
</html>
