<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vom's Bookstore</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Vom's Bookstore</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/add">Add Book</a></li>
          <li><a href="/browse">Browse</a></li>
          <li><a href="/edit">Edit</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Find a book!">
          </div>
          <button type="submit" class="btn btn-default">Go!</button>
        </form>
        <form class="navbar-form navbar-right" action="/">
          <button type="submit" class="btn btn-default">Log out</button>
        </form>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Search results</h3>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">book id</th>
                <th scope="col">title</th>
                <th scope="col">isbn</th>
                <th scope="col">published date</th>
                <th scope="col">publiser</th>
                <th scope="col">review</th>
                <th scope="col">add to books read</th>
                <th scope="col">add to want to read</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>mked</td>
                <td>This is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a reviewThis is a review</td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>jnwdl</td>
                <td>This is a review 2</td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Zweig</td>
                <td>This is a review 3</td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
                <td><center><button type="button" class="btn btn-primary">Add</button></center></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
